body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    color:aliceblue;
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    top: 0;
    position: absolute;
}
.logo{
    padding-top: 50px;
    padding-left: 30px;
}
h1{
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Aclonica';
    position: absolute;
    color:#df6706;
    top: 25%;
    left:27%;
}

.container1{
    text-align: center;
    margin-top: 20%;
    margin-left: 0%;

}
.b1{
    position: relative;
    display: inline-block;
    padding: 6px 106px;
    text-decoration: none;
    color: #1e04fb;
    font-family: Courier New, monospace;
    font-weight: bold;
    margin: 10px 9px;
    font-size: 18px;
    border: none;
    letter-spacing: 1px;
    border-radius: 10px;
    background: linear-gradient(90deg,#e15d06,#c7c7c7,#e3670f);
    transition: 0.8ms;
}
.b1:hover{
    position: relative;
    display: inline-block;
    padding: 9px 110px;
    text-decoration: none;
    color: #0d0a25;
    font-family: Courier New, monospace;
    font-weight: bold;
    margin: 10px 9px;
    font-size: 18px;
    border: none;
    letter-spacing: 1px;
    border-radius: 10px;
    background: linear-gradient(90deg,#06e3eb,#ffffff,#06e3eb);
}



