*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color:rgb(0, 0, 0);

}
nav{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px ;
    font-family:'Times New Roman', Times, serif;
    top: 0;
    position: absolute;
}
.about{
    width: 100%;
    min-height: 100vh;
    padding: 78px 0px;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.logo{
    padding-top: 50px;
    padding-left: 50px;
}


.table{
    padding-left: 50px;
    border-collapse: collapse;
    width: 90%;
}
.th{
    height: 70px;
    text-align: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.container1{
    display: flex;
    padding-top: 0%;
    padding-left: 39%;
}
h1{
    font-size: medium;
    font-family: 'Nova Flat';font-size: 22px;
    color: aliceblue;
}